@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import "../styles/tiptap.scss";

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
--desk: #4cae4f;
  --primary: 122 39% 49%;
  --primary-foreground: 0 0% 98%;

  --dark: 0 0% 9%;
  --dark-foreground: 0 0% 98%;

  --dark-light: 0 0% 15%;
  --dark-light-foreground: 0 0% 98%;

  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;

  --danger: 0 84.2% 60.2%;
  --danger-foreground: 0 0% 98%;

  --white: 0 0% 100%;
  --white-foreground: 240 10% 3.9%;

  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;

  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --secondary-text: 215, 16%, 47%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 122 39% 49%;

    --dark: 0 0% 98%;
    --dark-foreground: 0 0% 9%;

    --dark-light: 0 0% 98%;
    --dark-light-foreground: 0 0% 15%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --danger: 0 62.8% 30.6%;
    --danger-foreground: 0 0% 98%;

    --white: 240 10% 3.9%;
    --white-foreground: 0 0% 100%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

// @layer utilities {
//   .text-balance {
//     text-wrap: balance;
//   }
// }
